/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
body {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

    .my-form .row {
        margin-left: 0;
        margin-right: 0;
    }

.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

    .login-form .row {
        margin-left: 0;
        margin-right: 0;
    }
